
@font-face {
    font-family: Ostrich;
    src: url('../fonts/ostrich-black.ttf');
    font-weight:600;
}
@font-face {
    font-family: Din;
    src: url('../fonts/DINPro-Medium.otf');
    font-weight:400;
}
@font-face {
    font-family: Din;
    src: url('../fonts/DINPro-Light.otf');
    font-weight:300;
}
body{
  padding: 0;
  margin: 0;
  color: #D9DEDC;
  font-family: Din, helvetica, sans-serif;
  font-weight: 300;
}

#hero{
  background: url('../img/intro.jpg');
  background-size: cover;
  background-position: center;
}
#hero h1{
  font-size: 68px;
  text-align: right;
  font-family: Ostrich, Helvetica, sans-serif;
  margin: 0;
  padding-top: 300px;
  padding-right: 25px;
  line-height: 110%;

}
#intro{
  background: #232323;
  padding: 100px 30px;
}
#intro .tagline{
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}
#intro .tagline p{
  margin: 0;
  margin-bottom: 30px;
  line-height: 120%;
  font-size: 23px;
  text-align: center;
}

#intro .logo{
  display: block;
  width: 100%;
  max-width: 500px;
  margin: auto;
  margin-bottom: 30px;
}



#objective{
  background: url('../img/halfpipe.JPG');
  background-size: cover;
  background-position: center;
  padding: 100px 30px;
}
#objective .panel{
  background: hsla(0, 0%, 17%, 0.87);
  text-align: center;
  padding: 50px 50px;
  max-width: 600px;
  margin: 0 auto;
}
#objective .panel h2{
  font-size: 68px;
  font-family: Ostrich, helvetica, sans-serif;
  font-weight: 400;
  margin: 0;
  color: #D7EA5D;
  text-align: center;
  margin-bottom: 10px;
}
#objective .panel p{
  margin-bottom: 20px;
  margin-top: 0px;
  font-weight: 400;
  font-size: 22px;
}
.button{
  display: inline-block;
  font-family: Ostrich, helvetica, sans-serif;
  font-weight: 400;
  font-size: 38px;
  color: white;
  text-decoration: none;
  background: #153673;
  padding: 10px 20px;
  padding-bottom: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.button:hover{
  color: #153673;
  background: white;
}



#about-us{
  background: #232323;
  padding: 70px 35px;
}
#about-us .info{
  width: 50%;
  padding-right: 15px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
}
#about-us .info h2{
  margin: 0;
  font-family: Ostrich, Helvetica, sans-serif;
  font-size: 62px;
  color: #D7EA5D;
  margin-bottom: 10px;
}
#about-us .info p{
  font-family: Din, helvetica, sans-serif;
  font-size: 22px;
  margin-top: 0px;
  margin-bottom: 15px;

}
#about-us .gallery{
  width: 50%;
  display: inline-block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: bottom;
  padding-left: 15px;
}
#about-us .gallery img{
  width: 100%;
}



#faces{
  height: 200px;
  background: url('../img/people.jpg') #232323;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.mask{
  width: 100%;
  height: 100%;
  background: #232323;
  opacity: 0.75;
}



#events{
  background: #232323;
  padding: 80px 35px;
}
.left{
  display: inline-block;
  width: 50%;
  vertical-align: top;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 15px;
}
.right{
  display: inline-block;
  vertical-align: top;
  width: 50%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 15px;
}
#events img{
  width: 100%;
}
#events h2{
  margin: 0;
  font-size: 62px;
  font-family: Ostrich, helvetica, sans-serif;
  color: #D7EA5D;
  margin-bottom: 10px;
}
#events p{
  font-size: 22px;
  font-family: Din, helvetica, sans-serif;
  line-height: 130%;
  margin-bottom: 0;
}



#footer-img{
  background: url('../img/contact_header.jpg');
  background-size: cover;
  background-position: 30%;
  height: 300px;
}



#contact{
  background: #232323;
  padding: 50px;
}

#contact h2{
  font-family: Ostrich, helvetica, sans-serif;
  color: #D7EA5D;
  margin: 0;
  font-size: 62px;
  margin-bottom: 10px;
}
#contact p{
  font-size: 22px;
  font-family: Din, helvetica, sans-serif;
  margin: 0;
  margin-bottom: 30px;
}
#contact .fb-like-box{
  float: right;
}
#contact .logos img{
  display: inline-block;
  vertical-align: top;
  margin-bottom: 50px;
  margin-top: 50px;
}
#contact .logos{
  clear: both;
}

@media screen and (max-width: 700px){
  #intro h1{
    text-align: right;
    padding-top: 0px;
  }
  #events .left{
    display: block;
    width: 100%;
    padding-right: 0;
    margin-bottom: 80px;
  }
  #events .right{
    display: block;
    width: 100%;
    padding-left: 0;
  }

  #contact .left{
    display: block;
    width: 100%;
    padding-right: 0;
    padding-left: 10px;
    margin-bottom: 50px;
  }
  #contact .fb-like-box{
    display: block;
    width: 100%;
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 900px){
  #about-us .gallery{
    display: block;
    width: 100%;
    padding-left: 0;
    margin-top: 30px;
  }
  #about-us .info{
    display: block;
    width: 100%;
    padding-right: 0;
  }
}
