
@font-face {
    font-family: Ostrich;
    src: url('../fonts/ostrich-black.ttf');
    font-weight:600;
}
@font-face {
    font-family: Din;
    src: url('../fonts/DINPro-Medium.otf');
    font-weight:400;
}
@font-face {
    font-family: Din;
    src: url('../fonts/DINPro-Light.otf');
    font-weight:300;
}
body{
  padding: 0;
  margin: 0;
  color: #D9DEDC;
  font-family: Din, helvetica, sans-serif;
  font-weight: 300;
}
h2{
  font-size: 68px;
  font-family: Ostrich, helvetica, sans-serif;
  font-weight: 400;
  color: #D7EA5D;
  margin: 0;
  margin-bottom: 10px;
}
p{
  margin: 0;
  line-height: 120%;
  font-size: 23px;
  font-weight: 300;
}



.left{
  display: inline-block;
  width: 50%;
  vertical-align: top;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 15px;
}
.right{
  display: inline-block;
  vertical-align: top;
  width: 50%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 15px;
}
.button{
  display: inline-block;
  background: #153673;
  color: white;
  font-family: Ostrich, helvetica, sans-serif;
  line-height: 100%;
  font-size: 38px;
  text-decoration: none;
  padding: 10px 20px;
  padding-bottom: 0px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.button:hover{
  color: #153673;
  background: white;
}
.mask{
  width: 100%;
  height: 100%;
  background: #232323;
  opacity: 0.75;
}



#hero{
  background: url('../img/intro.jpg');
  background-size: cover;
  background-position: center;
}
#hero h1{
  text-align: right;
  font-family: Ostrich, Helvetica, sans-serif;
  line-height: 110%;
  font-size: 68px;
  margin: 0;
  padding-top: 300px;
  padding-right: 25px;
}



#intro{
  background: #232323;
  padding: 80px 30px;
  padding-top: 70px;
}
#intro .logo{
  display: block;
  width: 100%;
  max-width: 500px;
  margin: auto;
  margin-bottom: 30px;
}
#intro .tagline{
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}
#intro .tagline p{
  margin-bottom: 30px;
  text-align: center;
}



#objective{
  background: url('../img/halfpipe.JPG');
  background-size: cover;
  background-position: center;
  padding: 160px 30px;
}
#objective .panel{
  background: hsla(0, 0%, 17%, 0.85);
  padding: 60px 30px;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}
#objective .panel p{
  margin-bottom: 30px;
}



#about-us{
  background: #232323;
  padding: 80px 30px;
}
#about-us .left,.right{
  vertical-align: bottom;
}
#about-us .info p{
  margin-bottom: 15px;
}
#about-us .gallery img{
  width: 100%;
}



#faces{
  height: 300px;
  background: url('../img/people.jpg') #232323;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}



#events{
  background: #232323;
  padding: 80px 30px;
}
#events img{
  width: 100%;
  margin-bottom: 15px;
}
#events p{
  margin-bottom: 15px;
}
#events > div p:first-of-type{
  font-weight: 400;
}



#footer-img{
  background: url('../img/contact_header.jpg');
  background-size: cover;
  background-position: 30%;
  height: 300px;
}



#contact{
  background: #232323;
  padding: 80px 30px;
}

#contact p{
  margin-bottom: 15px;
}
#contact p:last-of-type{
  margin-bottom: 30px;
}
#contact .fb-like-box{
  float: right;
}
#contact .logos img{
  display: inline-block;
  vertical-align: top;
  margin-bottom: 30px;
  margin-top: 30px;
}
#contact .logos{
  clear: both;
}

@media screen and (max-width: 700px){
  #hero h1{
    padding-top: 30px;
  }
  .left{
    display: block;
    width: 100%;
    padding-right: 0;
    margin-bottom: 80px;
  }
  .right{
    display: block;
    width: 100%;
    padding-left: 0;
  }
  #contact .fb-like-box{
    display: block;
    width: 100%;
    margin-bottom: 80px;
  }
}
@media screen and (max-width: 900px){

  #about-us .left{
    display: block;
    width: 100%;
    padding-right: 0;
    margin-bottom: 80px;
  }
  #about-us .right{
    display: block;
    width: 100%;
    padding-left: 0;
  }
}
